body{
    background-color: rgb(13, 13, 27);
}
main{
    border-color:aliceblue;
     border-width: 5px;
    border-style: double;
    padding: 5px 5px 5px 5px;
}
h3{
    font-size: 60px;
    color: bisque;
    font-family: Lobster Two, cursive;
}
#first{
    background-color: #111111;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border-color: #59472b;
    border-style: double;
}
#first img{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    border-style: double;
    border-color:  #59472b;
    border-width: 5px;
}
#first h4{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #604d2e;
}
#first p{
    width:auto;
    text-align: center;
    color: aliceblue;
    font-size:larger;
}
#sec{
     background-color: #111111;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border-color: #59472b;
    border-style: double;
}
#sec img{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    border-style: double;
    border-color:  #59472b;
    border-width: 5px;
}
#sec h4{
     font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #604d2e;
}
#sec p{
     width:auto;
    text-align: center;
    color: aliceblue;
    font-size:larger;
}
p{
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color:bisque;
    font-size: 25px;
}